@model InstaXamarinWeb.Models.Post

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem certeza que quer apagar o post?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nome do Usuário")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioDados.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
           @if (Model.Foto != null)
           {
               var base64 = Convert.ToBase64String(Model.Foto);
               var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src="@imgSrc" width="200" height="200" />
           }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeCurtidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeCurtidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeComentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeComentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDenuncias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDenuncias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Denunciado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Denunciado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloqueado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="APAGAR" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Lista", "Index")
        </div>
    }
</div>
