@model IEnumerable<InstaXamarinWeb.Models.PostInteracao>

<!--Denuncias-->
<h2>Lista de Denuncias</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Nome do Usuário")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioDados.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
        </tr>
    }

</table>
