@model IEnumerable<InstaXamarinWeb.Models.Usuario>

@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuários</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadePosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeSeguindo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeSeguidores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bloqueado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadePosts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeSeguindo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeSeguidores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
            @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
